body {
    font-family: "Libertinus Serif", serif;
    margin: 0;
}

/* header stuff here */
header {
    background-color: #eaeaea;
    padding: 1rem 10px;
}

header span {
    color: #027373;
    font-size: 1.6rem;
    font-weight: 700;
}


/* nav stuff here */
nav {
    background-color: #5fcdd9;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #027373;
    font-weight: 700;
}

nav li.active a {
    background-color: #027373;
    color: #5fcdd9;
}

nav li a:hover {
    color: white;
}

/* main content stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #027373;
}

main h2 {
    color: #5fcdd9;
    margin-bottom: .2rem;
    font-weight: 700;
}

main h3 {
    color: #376e8a;
    margin-bottom: .2rem;
    font-size: 1.2rem;
}

main p {
    margin: 0;
    color: #172026;
    font-weight: 300;
    line-height: 125%;
    font-size: 1rem;
}

main ol {
    padding: .5rem 30px;
    background-color: #efefef;
}

main strong {
    font-style: italic;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1rem;
}

main ul {
    color: #172026;
    list-style-type: square;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 300;
}

main em {
    font-weight: 400;
}

main address {
    font-style: italic;
    background-color: #5fcdd9;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #027373;
    width: 200px;
}

main a {
    color: #5fcdd9;
}
main a:hover {
    color: rgb(43, 101, 124);
}

/* footer stuff here */
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #333;
    letter-spacing: 3px;
}